﻿#content .daily_journey{
    color: #492074;
    font-weight:800;
    text-align:center;
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px;
}

#content .blessed{
    color: #4769cc;
    font-weight:800;
    text-align:center;
    font-size: 18px;
    line-height: 18px;
    margin: 10px 5px;
}

#content #content_ad{
    max-width:728px;
    margin: 0 10px;
}

#content .body .ads{
    margin:10px 0;
}

#content .sections{
    background: url("faux-columns.png") repeat-y;
    overflow: hidden
}

#content .section {
    position: relative;
    border:5px solid #cccce5;
    background-color:white;
    border-radius: 30px;
    margin: 0 1% 10px;
}

#content .section .top {
    background: linear-gradient(#fea805, #fbd500);
    background: -webkit-linear-gradient(#fea805, #fbd500); /* For Safari 5.1 to 6.0 */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color:white;
    text-shadow: 3px 2px 3px #666;
    font-size:4vw;
    padding:10px 0;
    text-align:center;
    border:5px solid white;
    font-family: "Open Sans" !important;
    font-weight: 700;
}

    #content .section .top .seal {
        display:table-cell;
        max-width: 44px;
        padding: 5px 5px 0 5px;
    }

    #content .section .top .seal_text {
        display:table-cell;
        vertical-align: middle;
        text-align: left;
    }

#content .section img{
    width: 100%;
}

#content .section .links{
    width: 88%;
    text-align: left;
    top: 38%;
    left: 5.8%;
}

#content .section .links div{
    margin: 8px 0;
}

#content .section div a{
    text-decoration: none;
    color: #0000ff;
    font-size: 4.3vw;
}

#content .section div a:hover{
    text-decoration: underline;
}

@media (min-width:400px) {
    #content .section div a{
        font-size: 4.3vw;
    }
}

@media (min-width:600px) {
    #content .daily_journey{
        font-size: 30px;
        line-height: 30px;
    }

    #content .section {
        float: left;
        width: 46%;
        margin: 10px 1%;
    }

        #content .section div a {
            font-size: 2vw;
        }

        #content .section .top {
            font-size: 1.9vw;
        }
}

@media (min-width:728px) {
    #content #content_ad{
        margin: auto;
    }
}

@media (min-width:750px) {
    #content .section .top {
        font-size:2.2vw;
    }

    #content .section {
        float: unset;
        width: unset;
        margin: 0 2% 10px;
    }
}

@media (min-width:1025px) {
    #content .section .top {
        font-size:1.5vw;
    }

    #content .section {
        margin: 10px 1%;
    }
}

@media (min-width:1100px) {
    #content .section {
        float: left;
        width: 46%;
        margin: 10px 1%;
    }
}

@media (min-width:1200px) {
    #content .section div a{
        font-size: 1.3vw;
    }
}

@media (min-width:1300px) {
    #content .section .top {
        font-size:1.4vw;
    }
}

@media (min-width:1400px) {
    #content .section .top {
        font-size:1.3vw;
    }
}

@media (min-width:1500px) {
    #content .section .top {
        font-size:1.2vw;
    }
}

@media (min-width:1600px) {
    #content .section div a{
        font-size: 1.1vw;
    }

    #content .section .top {
        font-size:1vw;
    }
}