﻿html {
    width: 100%;
}

body {
    min-height: 1000px;
    background-size: cover;
    background-image: url(../images/PFG_bg_blue.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

div {
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.logo {
    padding: 18px 20px 25px;
}

.bottomlinks_content {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    line-height: 1;
}


    .bottomlinks_content a {
        color: #fff;
    }

.section2 {
    border: 3px solid #384260;
    border-radius: 30px;
    background-color: #1B1B1B;
    margin-bottom: 40px;
    max-width: 1150px;
    width: 95%;
}


.thankyou {
    text-align: center;
    max-width: 600px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4%;
    line-height: 1;
}

.confirmation {
    text-align: center;
    max-width: 600px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin: 3% auto;
    line-height: 1;
    width: 90%;
}

.notWinner {
    color: #FFFF00;
    float: none !important;
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
}

#divEntryText {
    width: 100%;
    height: auto;
    /*margin-top: 20px;*/
}

.logo {
    max-width: 200px;
    margin-top: 15px;
    margin: 0 auto 0 auto;
    display: block;
}

#ResultsNum {
    margin: 0 0 0 30px;
    width: 90%;
    max-width: 306px;
    height: 77px;
    background: url(../c4r-images/blank_results_smaller.png) no-repeat 100% 0;
}

#numbers_wrapper {
    margin-left: 5px;
}

#ResultNum_0, #ResultNum_1, #ResultNum_2, #ResultNum_3, #ResultNum_4, #ResultNum_5, #ResultNum_6, #ResultNum_7 {
    width: 31px;
    height: 40px;
    top: 19px;
    left: 2px;
    position: relative;
    float: left;
    margin-right: 5px;
}

#ad1 {
    padding: 15px 15px 25px;
    width: 100%;
}

#ad2 {
    padding: 0 15px;
    width: 100%;
}

@media (max-width: 1400px) {
}

@media (max-width: 901px) {
}

@media(max-width: 700px) {
    .logo {

    }
    .thankyou {
        font-size: 45px;
    }
    .confirmation {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .thankyou {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
}

@media (max-width: 510px) {
    body {

    }
}

@media (max-width: 500px) {

    #divEntryText {
        font-size: 25px;
    }

    .logo {
     
    }
    .thankyou {
        font-size: 35px;
    }

    .confirmation {
        font-size: 16px;
    }
}

@media (max-width: 457px) {
    .ad {
    }
}

@media (max-width: 450px) {
    .confirmation {
        font-size: 13px;
    }

    .notWinner {
        font-size: 22px;
    }

    #divEntryText {
        font-size: 22px;
    }

    .thankyou {
        font-size: 32px;
    }
}

@media (max-width: 400px) {
    #ResultsNum {
        max-width: 250px;
        height: 63px;
    }

    #numbers_wrapper {
        margin-left: 11px;
    }

    #ResultNum_0, #ResultNum_1, #ResultNum_2, #ResultNum_3, #ResultNum_4, #ResultNum_5, #ResultNum_6, #ResultNum_7 {
        width: 16px;
        margin-right: 13.3px;
    }
    .thankyou {
        font-size: 25px;
    }
}

@media (max-width: 350px) {
}
