body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: default;
    background-color: white;
    color: black;
    margin: unset;
}

* {
    text-decoration: none;
}

div {
    margin: 0 auto;
}

div img, div input[type=image] {
    width:100%;
}

a {
    text-decoration: none;
    color: #33B872;
}

a:hover {
    text-decoration:underline;
}
#left {
    display:none;
}
h1 {
    color:#384260;
    font-weight:700;
    font-size:24px;
    line-height:26px;
  /*  position:relative;*/
    top:9px;
    margin-top:15px;
}

    h1 span {
        color: #0062A6;
    }

h1 img{
    float: left;
    max-width: 27px;
    margin: 0 5px 0 0 !important;
}

    h1 a {
        text-decoration: none !important;
        color: #8ED810;
    }

.blue {
    color:#384260;
}

h2 {
    color: #384260;
    font-size:18px;
    line-height:20px;
    margin: 10px 0;
    font-weight:700;
}

h3 {
    color:#384260;
    font-weight:700;
    margin:20px 0;
}

.ckedit ul, .ckedit ol { margin: 1.12em 0; margin-left: 40px;  margin-top: 0; margin-bottom: 0; display: block; unicode-bidi: embed; line-height:1.5em; }
.ckedit ul             { list-style-type: disc; }
.ckedit ol             { list-style-type: decimal }
.ckedit li             { display: list-item }
.ckedit strong         { font-weight: 700 }

#content .blueline {
    clear:both;
    border: 0; 
    height: 0; 
    border-top: 2px solid #384260;
    margin: 10px 0 14px;
}

.bold {
    font-weight:700;
}

#container {
    width:93%;
    max-width:1150px;
    /*position: relative;*/
    overflow:hidden;
}

.headline {
    background-color: #8ED810;
    text-align: center;
    line-height: 41px;
    position: relative;
    color: white;
}

    .headline .header {
        padding: 6px 5px;
        color: white;
        text-shadow: 1px 1px 7px #000000;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        margin: unset !important;
    }
    .headline .header  p{
        margin: unset;
    }
    #container .signup {
        text-align: right;
        font-size: 14px;
        color: White;
        max-width: 115px;
        float: right;
        padding-top: 15px;
        font-weight:bold;
    }
    #container .signup div {
        float: right;
    }
    #container .signup .fb {
        max-width: 28px;
        margin: 0;
        padding-right: 3px;
        margin-top: -4px;
    }

.headline img {
    max-height: 33px;
    width: 93%;
    max-width: 943px;
    padding-top: 7px;
}

    /*.headline .signup {
        text-align: right;
        margin: -8px 2px 0 0;
        font-size: 22px;
        font-weight:bold;
        color: #01283c;
    }*/

#header {
    /*background-image: url(../images/header_bg.png);*/
    background-repeat: repeat-x;
    width: 100%;
}

    #header .logo {
        max-width: 220px;
        margin: 15px auto;
        /*float: left;*/
    }
    #header .catbtn {
        vertical-align:top;
        width:27px;
        margin: 10px 8px 0 0;
        float: left;
    }

        #header .catbtn .arrow {
            max-width:61px;
            float:left;
        }
        #header .catbtn .btn {
            max-width:55px;
            float:left;
        }
    #header .greentext {
        font-size:22px;
        line-height:24px;
        color : #384260;
        font-weight:700;
        width:93%;
        margin: 6px auto;
        text-align:center;
    }

#categories {
    width: 90%;
    max-width: 311px;
}

#categories .categories_border {
    border: 1px solid #384260;
}

    #categories .category_header {
        text-align: center;
        background-color: #8ED810;
        padding: 10px 0 18px;
    }

        #categories .category_header p {
            margin-bottom: 0;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-shadow: 0px 0px black;
            color: white;
            text-shadow: 1px 1px 7px #000000;
        }
#categories .list a {
    margin-left:8px;
    display:block;
    font-size:13px;
    font-weight:700;
    color:#6a6a6a;
}
        #categories .list a:first-of-type {
            margin-top:8px;
        }
        #categories .list a:last-of-type {
            margin-bottom:8px;
        }

.internal_ads_cat{
    width:90%;
    max-width:311px;
}

.internal_ads{
    width:93%;
}

.internal_ads_cat div, .internal_ads div{
    width:100%;
    padding: 0 0 10px;
}
    #content a {
        text-decoration:underline;
    }

    #content img {
        /*max-width:;*/
        margin: 10px auto;
        display:block;
    }

#bottom {
    background-color: #0062A6;
    min-height: 41px;
    padding: 5px 0 0;
    text-align: center;
    margin-top: 15px;
}

    #bottom .top{
        padding-top: 10px;
    }

    #bottom .title {
        font-weight: 700;
        font-size: 17px;
        color: #8ED810;
        padding-top: 5px;
    }

    #bottom .bullets {
        font-size:16px;
        color:#fff;
        font-weight:700;
        margin:10px 0 0;
        padding-bottom: 10px;
    }

        #bottom .bullets div {
            display: inline-block;
        }

        #bottom .bullets span {
            color: #8ED810;
        }

    #bottom .copy {
        color:#fff;
        padding-bottom: 10px;
    }

        #bottom .copy a {
            color: #8ED810;
        }

.disclosure{
        color:#fff;
        font-size: 80%;
        margin:0 auto 5px;
        padding-top: 10px;
        line-height: 12px;
        max-width: 71%;
    }

#socialst div{
    padding: 5px 3px;
    float: left;
}

.clear{
    clear:both;
}

#header .house {
    display: none;
}
    #header .house img{
        display: block;
    }

.homeSections div{
    width: 98%;
    padding: 14px 0.9%;
}

.homeSections img{
    width: 100%;
    margin: unset !important;
}

.find{
    text-align: center;
    color: #d20000;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 24px;
}

.header_quotes{
    padding-top: 40px;
    width: 52%;
    display:none;
}

.quotes{
    padding-top: 20px;
    color: #384260;
    font-weight: bold;
    font-size: 16px;
}

    .quotes ul{
        list-style: disc;
    }

    .quotes li{
        float: left;
        width: 45%;
        margin-left: 5%;
    }
    .fb-page-bottom {
        display: block;
        max-width: 340px;
    }
.fb-page-categrory {
    margin-top:20px;
}

.mobileOnly {
    display: block;
}

.desktopOnly {
    display: none;
}

@media only screen and (min-width: 310px) and (max-width:500px) {
    h1 {
        font-size:18px;
    }

    .ads_padding_cat {
        text-align:center;
        bottom: 0;
        width:95%;
        z-index:999;
        max-height: 200px;
        padding: unset;
    }

    .ads_padding_bottom {
        left:2.5%;
        position: fixed;
        text-align:center;
        bottom: 0;
        width:95%;
        z-index:999;
        max-height: 200px;
        padding: unset;
    }
    #header .logo {
        max-width: 150px;
        margin: 10px auto;
    }
    #header .catbtn {
        width: 27px;
        margin: 15px 8px 0px 10px;
    }
    .homeSections div {
        float: left;
        width: 47.8%;
        padding: 14px 0.9%;
    }
    #categories {
        margin-top: 10px;
    }
    #container .signup .fb {
        max-width: 24px;
        margin-top: -3px;
    }
    #container .signup {
        font-size: 13px;
    }
    #header .greentext {
        font-size: 15px;
        line-height: 17px;
    }


}
@media (min-width:300px) {
    .headline .header {
        width: 90%;
        font-size: 14px;
        line-height: 18px;
    }
}
@media (min-width:350px) {
    .headline .header {
        width: 95%;
        font-size: 16px;
    }
}


@media (min-width:450px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }

    .headline .header{
        width: 80%;
        font-size: 18px;
    }
}

@media (min-width:510px) {
    #header .catbtn {
        float:left;
        margin: 20px 8px 0 8px;
    }
}

@media (min-width:550px) {
    /*.headline .signup {
        margin: -10px 2px 0 0;
        font-size: 20px;
    }*/
}

@media (min-width:600px) {
    .ads_padding_cat {
        width:40%;
    }

    #left {
        float:left;
    }
}
    
@media (min-width:750px) {
    #left {
        display: block;
        float: left;
        width: 40%;
        max-width: 315px;
    }
    #header .catbtn, #header .greentext {
        display:none;
    }

    #categories {
        display:block;
        float:left;
        margin-left:5px;
    }

    .internal_ads_cat{
        display:block;
        margin-left:5px;
    }


    #main {
        float: right;
        width: 50%;
        border: 1px solid #384260;
        margin: 0 13px 0 0;
        padding: 5px 5px 5px 5px;
    }
        #main hr {
            display:none;
        }
        #content hr {
            display:block;
        }

    .headline {
        text-align:center;
    }

    .homeSections div{
        float: unset;
        width: 98%;
        padding: 14px 0.9%;
    }

    .header_quotes{
        display:block;
    }
    .mobileOnly {
        display: none;
    }

    .desktopOnly {
        display: block;
    }
}

@media (min-width:800px) {
    #categories {
        width:311px;
    }

    .internal_ads_cat{
            width:311px;
    }

    #main {
        width: calc(100% - 369px);
        /*padding:5px 15px 15px 15px;*/
    }

    .ads_padding_cat {
        width:311px;
    }

    .headline .header {
        width: unset;
        line-height: 28px;
    }
    #header .logo {
        max-width: 280px;
        margin: 30px auto;
    }
  
}

@media (min-width:900px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }
}

@media (min-width:900px) {
    .header_quotes{
        width: 60%;
    }

    .headline .header{
        font-size: 22px;
    }
}

@media (min-width:1000px) {
    .headline .header{
        font-size: 25px;
    }
}
@media (min-width: 1100px) {
    #container .signup {
        margin: 0;
        position: absolute;
        top: 10px;
        right: 18px;
        text-shadow: 1px 1px 7px #000000;
        font-weight: bold;
        z-index: 1000;
        padding-top: 0;
    }

        #container .signup a {
            color: #ffffff;
        }

    .headline .header {
        font-size: 23px;
    }
}
@media (min-width:1225px) {
     .header_quotes{
        width: 42%;
        max-width: 480px;
    }

    #header .house {
        display: block;
        float: right;
        margin: 20px 0 0;
        max-width: 327px;
    }
}

@media (min-width:1250px) {
    .headline {
        height: 41px;
    }

    .headline .header{
        font-size: 27px;
    }

    /*.headline .signup {
        margin: 0;
        position: absolute;
        top: -3px;
        right: 10px;
        font-weight:normal;
    }*/
    
        /*.headline .signup a {
            color: #01283c;
        }*/
}