@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.container-works {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 25px;
    text-align: center;
}
.container-works p{padding:10px 0;}
.container-works{font-family:'Open Sans', Helvetica, sans-serif;}
h3.info{text-align:center;font-weight:bold;text-transform:uppercase;font-size:44px;}


@media (min-width:768px) {
    .row.is-flex{display:flex;flex-wrap:wrap;}
.row.is-flex > [class*='col-']{display:flex;flex-direction:column;}
.row.is-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.row.is-flex > [class*='col-']{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
    .row.is-flex {margin-top: 35px;}
}
.container-info{font-family:'Open Sans', Helvetica, sans-serif;}
.moreinfoinner {
    margin: 10px 0 10px 0;
    padding: 20px 30px;
    background: #fff;
    font-size: 14px;
    line-height: 18px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #212153;
}
.moreinfoinner h3{font-size:16px;font-weight:bold;text-transform:uppercase;border-bottom:1px solid #000;}
.moreinfoinner p{margin:0 0 20px;}
@media (min-width:1200px){
.row.is-flex{margin-left:20px;margin-right:20px;}
}
ol{padding:0 0 0 15px;}
li{padding:0 0 20px 10px;}
.moreinfoinner strong{font-weight: 700;}