body {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 12px;
    cursor: default;
    background-color: #8ED810;
    color: #444444;
}

* {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #1faee8;
}

#main h1 {
    margin: 0 0 20px 100px;
}

p {
    margin: 15px 120px 15px 120px;
    font-size: 16px;
}

strong {
    font-weight:bold;
}

h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

fieldset { 
    border:1px solid black;
    margin 10px 0 0 0;
}

legend {
  padding: 0.2em 0.5em;
  font-size:14px;
  font-weight:bold;
}

.gridHead {
    height: 36px;
    border-collapse: collapse;
    background-color: #F2F6F9;
    border: 0 none;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

.grid td {
    border-bottom: 1px solid #DBE5EA;
    height: 18px;
    line-height: 18px;
    padding: 2px;
}

input {
    margin: 0 0 10px 0;
}

input[type=submit] {
    margin: 15px 0 15px 0;
}

@font-face {
    font-family: HelveticaThin;
    src: url('font/Helvetica LT 33 Thin Extended.ttf');
}

@font-face {
    font-family: HelveticaThinItalic;
    src: url('font/Helvetica LT 33 Thin Extended Oblique.ttf');
}

#whiteSpace {
    background-color: white;
    width: 100%;
    height: 3px;
}

#social {
    background-color: #8ED810;
    width: 100%;
    height: 30px;
}

#header {
    width: 100%;
    height: 103px;
    padding: 14px 0 0 0;
}

#headerleft {
    min-width: 341px;
    max-width: 358px;
    min-height: 96px;
    float: left;
    /*background-image: url(../images/headerbg.jpg);*/
    background-repeat: no-repeat;
}

    #headerleft h1 {
        
        font-size: 26px;
        margin: 22px 0 0 50px;
        color: #33b872;
        font-weight: bold;
        text-shadow: 1px 1px #696969;
    }

        #headerleft h1 span {
            color: #FF64E0;
        }

    #headerleft h2 {
        font-style:italic;
        font-size: 15px;
        margin: 4px 0 0 53px;
        color: #33b872;
        text-shadow: 1px 1px #696969;
        font-weight: normal;
    }

#headerright {
    max-width: 729px;
    float: right;
}

    #headerright img {
        width: 100%;
    }

#bottom {
    background-color: #fff;
    width: 100%;
    height: 4px;
}

input.text {
    border: solid 1px #6C9134;
    height: 18px;
    padding: 2px;
    width: 300px;
}

#whitecontainer {
    max-width: 1130px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

#container {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

#menu {
    z-index: 3;
}

#mainbkgd {
    background-color: white;
    padding: 0px 10px 0px 10px;
    z-index: 0;
}

#mmorephoto {
    margin: 6px 0 6px 0;
}
#mmorephoto .photo {
    width:78px;
    float:left;
    margin-top:5px;
    margin-right:5px;
    text-align:center;
}

    #mmorephoto .photo img {
        width:78px;
        height:78px;
    }

#divFilter {
    text-align: center;
    font-weight: bold;
    height: 0px;
    overflow: visible;
    margin: 0 auto 0 auto;
    position: relative;
    top: 25px;
}